---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"normalize.css",
		"fonts.css",
        "base",
        "../neat/neat"
;

@mixin serif {
	font-family: "Serapion OSF";
	font-weight: 300;
}

@mixin italic {
	font-family: "Serapion II";
	font-style: italic;
}

$grid: (
  columns: 1,
  gutter: 2rem,
);

$grid--tablet-up: (
  columns: 12,
  gutter: 2rem,
  media: "(min-width: 768px)",
);

$no-gutter: (
	columns: 1,
	gutter: 0,
);

$no-gutter--tablet-up: (
	columns: 12,
	gutter: 0,
    media: "(min-width: 768px)",
);

html {
	-webkit-font-smoothing: antialised;
	font-smoothing: antialised;
}

body {

}

ul {
	list-style: none;
}

.hero {
	background-size: cover;
	background-position: center;

	padding-top: 60px; 

  	@include grid-media($grid--tablet-up) {
  		height: 600px;
  	}
}

.hero__container {
	@include grid-container;
	height: auto;
}

.hero__container--campaign {
	height: 50vw;
	min-height: 300px;
	position: relative;
	
}

.hero__hashtag {
	@include italic;
	font-size: 70px;
	color: $red;
	display: block; 
	padding: 0px 20px 20px 40px;
	text-align: center;
}

.hero__list {
	@include italic;
	font-size: 50px;
	color: $red;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hero__list li {
	margin-bottom: 20px;
}

.hero__list a {
	color: $red;
	text-decoration: none;
}

.hero__list a:hover {
	border-bottom: 2px solid $red;
}

.header--campaign {
	@include italic;
	width: 100vw;
	padding: 12px 0 8px 0;
	font-size: 30px;
	color: $darkblue;
	text-align: center;
}

.hero__left, .hero__right {
  @include grid-column(1, $grid);

  @include grid-media($grid--tablet-up) {
  	@include grid-column(6);
  }
}

/* ARTICLES */

.articles {
	@include grid-container;
}

.article__container {
	display: block;
	position: relative;

	@include grid-media($no-gutter--tablet-up) {
		height: 50vw;
	}
}

.article__image {

	@include grid-column(1, $no-gutter);

	@include grid-media($no-gutter--tablet-up) {
		@include grid-column(6);
		height: 50vw;
	}

	background-size: cover;
	background-position: center;

	display: block;

	height: 100vw;
}

.article__text {
	@include grid-column(1, $no-gutter);

	@include grid-media($no-gutter--tablet-up) {
		@include grid-column(6);
		height: 50vw;
	}

	position: relative;
}

.article__text--centered {
	width: 80%;
	margin: auto;
	padding-bottom: 80px;

	@include grid-media($no-gutter--tablet-up) {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		margin: auto;
		height: 340px;
		padding-bottom: 80px;
	}
}

.article__text--centered h2, .article__name h2 {
	@include italic;
	font-size: 35px;
	@include grid-media($no-gutter--tablet-up) {
		font-size: 65px;
	}
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
	color: #fff;
}

.article__text--centered p {
	@include italic;
	margin-top: 0;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.blue {
	background: $darkblue;
}

.beige {
	background: $beige;
}

.article__button--more, .article__button--blue, .article__button--red {
	border-radius: 25px;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-family: "Basis Grotesque";
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 12px 20px 8px 20px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 0.05em;
	display: block;
	width: 120px;
	margin: 40px auto 0 auto;
}

.bottom-stick {
	position: absolute;
	bottom: 40px;
	left: 0; right: 0;
}

.article__button--blue {
	color: $darkblue;
	border-color: $darkblue;
}

.article__button--red {
	color: $red;
	border-color: $red;
}

.article__image--large {
	height: 100vw;
	@include grid-media($no-gutter--tablet-up) {
		height: 50vw;
	}
}

.article__image--large h2 {
	color: $red;
}

.article__name {
	padding: 40px;
	position: absolute; 
	top: 0; left: 0; right: 0; bottom: 0;
	display: block;
	margin: auto;
	height: 200px;
}

.help__container {
	@include grid-media($no-gutter--tablet-up) {
		padding: 40px;
	}
}

.help__text {
	display: block;
	margin: auto;
	color: $darkblue;
	padding: 40px;

	border: 7px solid $yellow;

	@include grid-media($no-gutter--tablet-up) {
		width: 50vw;
		position: relative;
		margin: auto;
	}
}

.help__text h3 {
	font-family: "Serapion II";
	font-size: 35px;
	text-align: center;
	margin: 20px;

	@include grid-media($no-gutter--tablet-up) {
		font-size: 50px;
	}
}

.help__text p {
	font-family: "Basis Grotesque";
	font-size: 14px;
	text-align: center;
	line-height: 1.5em;
}

/* CAMPAIGN */

.campaign__title {
	font-family: "Serapion II";
	font-size: 35px;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	color: $red;
	height: 1em;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;

	@include grid-media($grid--tablet-up) {
		font-size: 45px;
	}
}

.campaign__title--excerpt {
	height: 3em;

	p {
		font-size: 24px;
		text-transform: none;
		width: 60%;
		margin: 20px auto;
	}
}

.campaign__body {
	@include grid-container;

	padding: 2rem;

	@include grid-media($grid--tablet-up) {
		margin: auto;
		max-width: 942px;
		width: 100%;
	}	


	h1 {
		font-family: "Serapion II";
		padding: 2rem 0 0 0; 
		font-size: 35px;
		color: $red;
		line-height: 1.1em;
		text-transform: uppercase;
		@include grid-media($grid--tablet-up) {
			font-size: 45px;

			@include grid-column(9);
			@include grid-push(3);
		}
	}


	h2 {
		@include serif;
		font-size: 25px;
		margin: 0; 
		padding: 2rem 0px 0rem 0px;
		color: $red;
		@include grid-media($grid--tablet-up) {
			@include grid-column(9);
			@include grid-push(3);
		}
	}

	p {
		font-size: 18px;
		line-height: 26px;
		font-weight: 500;
		color: $darkblue;
		margin: 1rem 0 0 0;
		font-family: "Basis Grotesque";
		@include grid-media($grid--tablet-up) {
			@include grid-column(9);
			@include grid-push(3);
		}
	}

	blockquote {
		margin: 0;
		p {
			@include serif;
			font-style: normal;
			color: $red;
			font-size: 24px;
			line-height: 30px;

			padding: 3rem 0rem; 

			@include grid-media($grid--tablet-up) {
				@include grid-column(6);
				@include grid-push(3);
			}
		}
	}

	img {
		width: 100%;
		@include grid-media($grid--tablet-up) {
			@include grid-column(12);
		}
	}
}

.campaign__next {
	font-size: 45px;
	font-family: "Serapion II";
	color: $red;

	padding: 120px 40px 40px 40px;
	text-align: center;

	text-transform: uppercase;
}

.campaign__next--link {
	text-decoration: none;
	color: inherit;

	&:hover {
		border-bottom: 2px solid $red;
	}
}

/* MAIN PAGE */
.header__page {
	@include serif;
	width: 100vw;
	padding: 12px 0 8px 0;
	font-size: 30px;
	color: $darkblue;
	text-align: center;
}

.header__logo {
	height: 29px;
}

.main__hero {
	width: 100vw;
	height: calc(100vh - 50px);
	max-height: 600px;
	display: table;
	position: relative;
	background-position: center;
	background-size: cover;
}

.main__hero h2 {
	@include serif;
	display: inline-block;
	vertical-align: center;
	height: auto;
	margin: auto;
	text-align: center;
	padding: 40px;
	font-size: 35px;
	color: white;
	@include grid-media($grid--tablet-up) {
		font-size: 65px;
	}
}

.main__actions {
}