---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"normalize.css",
		"fonts.css",
        "base",
        "../neat/neat"
;

a {
	color: inherit;
}

em {
	text-decoration: underline;
	font-style: normal;
}

@mixin serif {
	font-family: "Serapion OSF";
	font-weight: 300;
}

@mixin italic {
	font-family: "Serapion II";
	font-style: italic;
}

@mixin sans {
	font-family: "Basis Grotesque";
	font-weight: 300;
}

@mixin sans-caps {
	font-family: "Basis Grotesque";
	font-weight: 500;
	letter-spacing: 0.18em;
	text-transform: uppercase;
}

$grid: (
  columns: 1,
  gutter: 2rem,
);

$grid--tablet-up: (
  columns: 12,
  gutter: 2rem,
  media: "(min-width: 800px)",
);

$grid--mobile-up: (
	columns: 12,
	gutter: 2rem,
	media: "(min-width:500px) and (max-width:800px)",
);

$no-gutter: (
	columns: 1,
	gutter: 0,
);

$no-gutter--tablet-up: (
	columns: 12,
	gutter: 0,
    media: "(min-width: 800px)",
);

html {
	-webkit-font-smoothing: antialised;
	font-smoothing: antialised;
}

body {
	background: $light-gray;
}

ul {
	list-style: none;
}

.hero {
	background-size: cover;
	background-position: center;

	padding-top: 60px; 

  	@include grid-media($grid--tablet-up) {
  		height: 600px;
  	}
}

.hero__container {
	@include grid-container;
	height: auto;
}

.hero__container--campaign {
	height: 50vw;
	min-height: 300px;
	position: relative;
	
}

.hero__hashtag {
	@include italic;
	font-size: 70px;
	color: $red;
	display: block; 
	padding: 0px 20px 20px 40px;
	text-align: center;
}

.hero__list {
	@include italic;
	font-size: 50px;
	color: $red;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hero__list li {
	margin-bottom: 20px;
}

.hero__list a {
	color: $red;
	text-decoration: none;
}

.hero__list a:hover {
	border-bottom: 2px solid $red;
}

.header--campaign {
	@include italic;
	width: 100vw;
	padding: 12px 0 8px 0;
	font-size: 30px;
	color: $darkblue;
	text-align: center;
}

.hero__left, .hero__right {
  @include grid-column(1, $grid);

  @include grid-media($grid--tablet-up) {
  	@include grid-column(6);
  }
}

/* ARTICLES */

.articles {
	@include grid-container;
}

.article__container {
	display: block;
	position: relative;

	@include grid-media($no-gutter--tablet-up) {
		height: 50vw;
	}
}

.article__image {
	@include grid-column(1, $no-gutter);

	@include grid-media($no-gutter--tablet-up) {
		@include grid-column(6);
		height: 50vw;
	}

	background-size: cover;
	background-position: center;

	display: block;

	height: 100vw;
}

.article__text {
	@include grid-column(1, $no-gutter);

	@include grid-media($no-gutter--tablet-up) {
		@include grid-column(6);
		height: 50vw;
	}

	position: relative;
}

.article__text--centered {
	width: 80%;
	margin: auto;
	padding-bottom: 80px;

	@include grid-media($no-gutter--tablet-up) {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		margin: auto;
		height: 340px;
		padding-bottom: 80px;
	}
}

.article__text--centered h2, .article__name h2 {
	@include italic;
	font-size: 35px;
	@include grid-media($no-gutter--tablet-up) {
		font-size: 65px;
	}
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
	color: #fff;
}

.article__text--centered p {
	@include italic;
	margin-top: 0;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.blue {
	background: $darkblue;
}

.beige {
	background: $beige;
}

.article__button--more, .article__button--blue, .article__button--red {
	border-radius: 25px;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-family: "Basis Grotesque";
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 12px 20px 8px 20px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 0.05em;
	display: block;
	width: 120px;
	margin: 40px auto 0 auto;
}

.bottom-stick {
	position: absolute;
	bottom: 40px;
	left: 0; right: 0;
}

.article__button--blue {
	color: $darkblue;
	border-color: $darkblue;
}

.article__button--red {
	color: $red !important;
	border-color: $red;
}

.article__image--large {
	height: 100vw;
	@include grid-media($no-gutter--tablet-up) {
		height: 50vw;
	}
}

.article__image--large h2 {
	color: $red;
}

.article__name {
	padding: 40px;
	position: absolute; 
	top: 0; left: 0; right: 0; bottom: 0;
	display: block;
	margin: auto;
	height: 200px;
}

.help__container {
	@include grid-media($no-gutter--tablet-up) {
		padding: 40px;
	}
}

.help__text {
	display: block;
	margin: auto;
	color: $darkblue;
	padding: 40px;

	border: 7px solid $yellow;

	@include grid-media($no-gutter--tablet-up) {
		width: 50vw;
		position: relative;
		margin: auto;
	}
}

.help__text h3 {
	font-family: "Serapion II";
	font-size: 35px;
	text-align: center;
	margin: 20px;

	@include grid-media($no-gutter--tablet-up) {
		font-size: 50px;
	}
}

.help__text p {
	font-family: "Basis Grotesque";
	font-size: 14px;
	text-align: center;
	line-height: 1.5em;
}

/* CAMPAIGN */

.campaign__title {
	@include serif;
	font-size: 35px;
	font-style: italic;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	color: $red;
	height: 1em;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;

	@include grid-media($grid--tablet-up) {
		font-size: 65px;
	}
}

.campaign__title--excerpt {
	height: 3em;

	p {
		font-size: 24px;
		text-transform: none;
		width: 60%;
		margin: 20px auto;
	}
}

.campaign__body {
	@include grid-container;

	padding: 2rem;

	@include grid-media($grid--tablet-up) {
		margin: auto;
		max-width: 942px;
		width: 100%;
	}	

	h1 {
		font-family: "Serapion II";
		padding: 2rem 0 0 0; 
		font-size: 35px;
		color: $red;
		line-height: 1.1em;
		text-transform: uppercase;
		@include grid-media($grid--tablet-up) {
			font-size: 45px;

			@include grid-column(9);
			@include grid-push(3);
		}
	}

	h2 {
		@include serif;
		font-size: 25px;
		margin: 0; 
		padding: 4rem 0px 0rem 0px;
		color: $red;
		@include grid-media($grid--tablet-up) {
			@include grid-column(9);
			@include grid-push(3);
		}
	}

	p {
		font-size: 18px;
		line-height: 26px;
		font-weight: 500;
		color: $darkblue;
		margin: 1rem 0 0 0;
		font-family: "Basis Grotesque";
		@include grid-media($grid--tablet-up) {
			@include grid-column(9);
			@include grid-push(3);
		}
	}

	blockquote {
		margin: 0;
		p {
			@include serif;
			font-style: normal;
			color: $red;
			font-size: 24px;
			line-height: 30px;

			padding: 3rem 0rem; 

			@include grid-media($grid--tablet-up) {
				@include grid-column(6);
				@include grid-push(3);
			}
		}
	}

	img {
		width: 100%;
		@include grid-media($grid--tablet-up) {
			@include grid-column(12);
		}
	}
}

.campaign__next {
	font-size: 45px;
	font-family: "Serapion II";
	color: $red;

	padding: 120px 40px 40px 40px;
	text-align: center;

	text-transform: uppercase;
}

.campaign__next--link {
	text-decoration: none;
	color: inherit;

	&:hover {
		border-bottom: 2px solid $red;
	}
}

/* MAIN PAGE */
.header__page {
	@include serif;
	width: 100vw;
	padding: 12px 0 1px 0;
	font-size: 30px;
	color: $darkblue;
	text-align: center;
	background: #fff;
}

.header__logo {
	height: 29px;
}

.main__hero {
	width: 100vw;
	height: calc(100vh - 50px);
	max-height: 600px;
	display: table;
	position: relative;
	background-position: center;
	background-size: cover;
}

.main__hero h2 {
	@include serif;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 40px 50px;
	font-size: 35px;
	color: white;

	@include grid-media($grid--tablet-up) {
		font-size: 65px;
	}


	@include grid-media($grid--mobile-up) {
		font-size: 45px;
	}
}

.main__actions {

}

.main__actions--container {
	@include grid-container;
	background: $darkblue;
	margin: 0;
	padding: 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.main__actions--container li {
	&:hover {
		box-shadow: inset 0 0 0px 5px $yellow;
	}
	@include grid-column(6);
	text-align: center;
	@include grid-media($grid--tablet-up) {
		@include grid-column(3);
	}
}

.main__actions--container a {
	text-decoration: none;
	outline: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.main__actions--text {
	@include sans-caps;
	font-size: 14px;
	color: #fff;
	margin: 10px 0px 25px 0px;
}

.main__actions--container li img {
	margin: 25px 10px;
	height: 30px;
}

.main__box {
	margin: 50px 2rem;
	border: 7px solid $darkblue;

	width: auto;
	position: relative;
	padding-bottom: 80px;

	@include grid-media($grid--tablet-up) {
		margin: 50px auto;
		width: 580px;
	}
}

.main__box--beige {
	border-color: $beige;
}

.main__box--yellow {
	border-color: $yellow;
}

.main__box a {
	color: inherit;
}

.main__box h3 {
	@include serif;
	font-size: 45px;
	padding: 40px 40px 0px 40px;
	margin: 0;
	color: $red;
	text-align: center;

	@include grid-media($grid--tablet-up) {
		font-size: 65px;
	}
}

.main__box span {
	@include sans;
	color: $red;
	padding: 40px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.main__box--beige a, .main__box--beige h3, .main__box--beige span,
.main__box--yellow a, .main__box--yellow h3, .main__box--yellow span,
 {
	color: $darkblue;
}

.main__articles ul {
	@include grid-container;
	margin: 0;
	padding: 0;
	background: #fff;
}

.main__articles li {
	@include serif;
	font-size: 30px;
	color: $darkblue;
	width: 100vw;
	height: 100vw;
	margin-left: 0 !important; 
	padding: 0;
	display: table;
	position: relative;

	&:hover {
		box-shadow: inset 0 0 0px 7px $yellow;
	}

	&:nth-child(1) {
		color: #fff;
		background: $red;	
	}
	&:nth-child(3) {
		color: #fff;
		background: $darkblue;
	}
	&:nth-child(6) {
		color: #fff;
		background: $beige;
	}
	&:nth-child(8) {
		color: #fff;
		background: $gray;
	}

	@include grid-media($grid--mobile-up) {
		@include grid-column(6);
		width: 50vw;
		height: 50vw;
	}

	@include grid-media($grid--tablet-up) {
		@include grid-column(3);
		width: 25vw;
		height: 25vw;
	}
}

.main__articles li a {
	display: block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	display: table-cell;
}

.main__articles li:after {
	@include sans-caps;
	content: "Lesa";
	text-decoration: underline;
	font-size: 14px;
	position: absolute;
	margin: auto;
	bottom: 30px;
	display: block;
	left: 0; 
	right: 0;
	text-align: center;
}

.main__posts--heading {
	@include serif;
	color: $red;
	font-size: 40px;
	padding: 88px 2rem 56px 2rem;
	max-width: calc(1180px - 4rem);
	margin: auto;
}

.main__posts {
	@include grid-container;
	max-width: 1180px;
	margin: auto;
}

.main__post--article {
	@include grid-column(12);
	@include grid-media($grid--tablet-up) {
		@include grid-column(4);
	}
	margin-bottom: 40px;
}

.main__post--image {
	padding-top: 63%;
	background-size: cover;
}

.main__post--date {
	@include sans;
	font-weight: 700;
	color: $red;
	font-size: 12px;
	letter-spacing: 0.18em;
	margin-top: 10px;
	display: block; 
	@include grid-media($grid--tablet-up) {
		padding-left: 25%;
	}
}

.main__post--article h4 {
	@include serif;
	color: $red;
	font-size: 30px;
	margin: 20px 0px 18px 0px;
}
	
.main__post--article p {
	@include sans;
	color: $darkblue;
	font-size: 14px; 
	line-height: 16px;
	@include grid-media($grid--tablet-up) {
		padding-left: 25%;
	}
}

.main__post--read {
	@include sans-caps;
	font-size: 14px;
	color: $red;

	@include grid-media($grid--tablet-up) {
		padding-left: 25%;
	}
}

.main__constrain {
	margin: auto;
	@include grid-media($grid--tablet-up) {
		margin-top: 40px;
		max-width: 1180px;
	}
}

.main__footer {
	border-top: 1px solid $red;
}

.footer__logos {
	@include grid-container;
}

.footer__logo--left, .footer__logo--right {
	display: inline-block;
	height: 39px;
	margin-top: 35px;
	width: auto;

	img {
		height: 100%;
	}
}

.footer__logo--left {	
	@include grid-column(12);

	@include grid-media($grid--tablet-up) {
		@include grid-column(6);
	}
}

.footer__logo--right {
	@include grid-column(12);
	margin-top: 100px;
	text-align: right; 

	@include grid-media($grid--tablet-up) {
		margin-top: 35px;
		@include grid-column(6);
	}
}

.main__footer a {
	@include sans;
	color: $red;

}

.footer__links {
	@include grid-column(12);
	margin: 2rem;
	line-height: 30px;
}
