<section class="hero" style="background-image: url('/img/living-room.jpg')">
	<div class="hero__container">
		<div class="hero__left">
			<span class="hero__hashtag">
				#HUGUÐ
			</span>
		</div>
		<div class="hero__right">
			<ul class="hero__list">
				<li>
					<a href="/hugud/aron-mar">ARON MÁR</a>
				</li>
				<li>
					<a href="/hugud/vala-kristin">VALA KRISTÍN</a>
				</li>
				<li>
					<a href="/hugud/tryggvi">TRYGGVI</a>
				</li>
				<li>
					<a href="/hugud/hrefna-huld">HREFNA HULD</a>
				</li>
				<li>
					<a href="/hugud/ragnar">RAGNAR</a>
				</li>
				<li>
					<a href="/hugud/sonja-bjorg">SONJA BJÖRG</a>
				</li>
				<li>
					<a href="/hugud/idunn">IÐUNN</a>
				</li>
			</ul>
		</div>
	</div>
</section>