<footer class="main__footer main__constrain">
	<div class="footer__logos">
		<div class="footer__logo--left">
			<img src="/img/hugrun_logo.svg" alt="Merki Hugrúnar" />
		</div>
		<div class="footer__logo--right">
			<img src="/img/gedfraedsla_logo.svg" alt="Merki Geðfræðslu" />
		</div>
	</div>
	<div class="clear"></div>

	<div class="footer__links">
		<a href="mailto:gedfraedsla@gedfraedsla.is">gedfraedsla@gedfraedsla.is</a><br>
	 	<a href="https://twitter.com/gedfraedsla" target="_blank" alt="Geðfræðsla á Twitter">Twitter</a><br>
		<a href="https://www.facebook.com/gedfraedsla/" target="_blank" alt="Geðfræðsla á Facebook">Facebook</a><br>
		<a href="https://www.instagram.com/gedfraedsla/" target="_blank" alt="Geðfræðsla á Instagram">Instagram</a>
	</div>
</footer>
