<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{% if page.cover_photo %}
  <meta property="og:url"                content="https://gedfraedsla.is{{ page.permalink }}" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="{{ page.subtitle }}" />
  <meta property="og:description"        content="{{ page.intro }}" />
  <meta property="og:image"              content="https://gedfraedsla.is{{ page.cover_photo }}" />
{% endif %}


{% if page.campaign %}
  <meta property="og:url"                content="https://gedfraedsla.is/hugud" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Huguð" />
  <meta property="og:description"        content="Sjö einstaklingar deila upplifun sinni af ólíkum geðsjúkdómum og geðröskunum. Hugum að geðheilbrigði. Verum #Huguð." />
  <meta property="og:image"              content="https://gedfraedsla.is/img/uploads/hugud_campaign.jpg" />
{% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>