<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{% if page.campaign %}
  <meta property="og:url"                content="https://gedfraedsla.is/hugud" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Huguð" />
  <meta property="og:description"        content="Sjö einstaklingar deila upplifun sinni af ólíkum geðsjúkdómum og geðröskunum. Hugum að geðheilbrigði. Verum #Huguð." />
  <meta property="og:image"              content="https://gedfraedsla.is/img/uploads/hugud_campaign.jpg" />
{% else %}
  <meta property="og:url"                content="https://gedfraedsla.is/" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Hugrún{% if page.title %} – {{ page.title }}{% endif %}" />

  {% if page.excerpt %}
  <meta property="og:description"        content="{{ page.excerpt | strip_html | truncate }}" />
  {% else %}
  <meta property="og:description"        content="Hugrún er félag stofnað af hópi háskólanema í hjúkrunarfræði, læknisfræði og sálfræði, sem hefur það að markmiði að auka þekkingu ungs fólks á geðheilsu." />
  {% endif %}
  {% if page.cover_photo %}
  <meta property="og:image"              content="https://gedfraedsla.is{{ page.cover_photo }}" />
  {% else %}
  <meta property="og:image"              content="https://gedfraedsla.is/img/uploads/hugud_campaign.jpg" />
  {% endif %}
{% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="icon" type="image/png" href="/img/favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/favicon-32.png" sizes="32x32">
</head>