---
layout: default
---
{% include top_bar.html %}

<section class="hero hero__container--campaign rotate_colors" style="max-height: 400px; background-color: #151A41; background-image: url('{{ page.cover_photo }}')">
	<h1 class="article__heading">
		{{ page.title }}
	</h1>
</section>

<section class="campaign__body">
	<div class="campaign__header">
		<h1>{{ page.subtitle }}</h1>
	</div>

	<div class="campaign__content">
		{{ content }}
	</div>
</section>

<script>
	$(".campaign__body img").each(function(i, el) { 
		console.log(i, el);
			var styleIndex = i % 3;
			$(el).parent().addClass("imgstyle_"+styleIndex);
		});

	var colors = ["#151A41","#D1503B","E5A985","#737373"];


	$(".rotate_colors").css("background-color", colors[Math.floor(Math.random()*colors.length)]);
</script>


{% include contact_footer.html %}