---
layout: default
---

<header class="header--campaign">
	HUGUÐ
</header>

<section class="hero" style="background-image: url('/img/living-room.jpg')">
	<div class="hero__container">
		<div class="hero__left">
			<span class="hero__hashtag">
				#HUGUÐ
			</span>
		</div>
		<div class="hero__right">
			<ul class="hero__list">
				<li>
					<a href="/hugud/aron-mar">ARON MÁR</a>
				</li>
				<li>
					<a href="/hugud/vala-kristin">VALA KRISTÍN</a>
				</li>
				<li>
					<a href="/hugud/tryggvi">TRYGGVI</a>
				</li>
				<li>
					<a href="/hugud/hrefna-huld">HREFNA HULD</a>
				</li>
				<li>
					<a href="/hugud/ragnar">RAGNAR</a>
				</li>
				<li>
					<a href="/hugud/sonja-bjorg">SONJA BJÖRG</a>
				</li>
				<li>
					<a href="/hugud/idunn">IÐUNN</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="articles">
	<article class="article__container">
		<div class="article__image" style="background-image: url('/img/living-room.jpg')">

		</div>
		<div class="article__text blue">
			<div class="article__text--centered">
				<h2>SONJA BJÖRG</h2>
				<p>Það er aldrei of snemmt eða seint að leita sér hjálpar, en því fyrr sem það er gert, því betra.</p>
			</div>

			<a href="" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
	</article>

	<article class="article__container">
		<div class="article__text beige">
			<div class="article__text--centered">
				<h2>SONJA BJÖRG</h2>
				<p>Það er aldrei of snemmt eða seint að leita sér hjálpar, en því fyrr sem það er gert, því betra.</p>
			</div>
			
			<a href="" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
		<div class="article__image" style="background-image: url('/img/living-room.jpg')">

		</div>
	</article>
</section>

<aside class="help">
	<div class="help__container">
		<div class="help__text">
			<h3>HVERT SKAL LEITA?</h3>
			<p>Það er aldrei of snemmt eða seint að leita sér hjálpar, en því fyrr sem það er gert, því betra.</p>

			<a href="" class="article__button--blue">Lesa meira</a>
		</div>
	</div>
</aside>

<section clsas="articles">
	<article class="article__container article__image--large" style="background-image: url('/img/living-room.jpg')">
		<div class="article__name">
			<h2>IÐUNN GARÐARSDÓTTIR</h2>
		</div>

		<a href="" class="article__button--red bottom-stick">Lesa meira</a>
	</article>
</section>