---
layout: default
---

<header class="header--campaign">
	HUGUÐ
</header>

<section class="hero hero__container--campaign" style="background-image: url('{{ page.cover_photo }}')">
	<h1 class="campaign__title">
		{{ page.title }}
	</h1>

	<a href="{{ page.video_url }}" class="article__button--more bottom-stick">Spila viðtal ▷</a>
</section>

<section class="campaign__body">
	{{ content }}
</section>

<div class="campaign__next">
	<a href="" class="campaign__next--link">
		Næsta grein
	</a>
</div>
<section class="hero hero__container--campaign" style="background-image: url('{{ page.next_article_cover_photo }}')">
	<div class="campaign__title campaign__title--excerpt">
		{{ page.next_article_title }}
		<p>
			{{ page.next_article_caption }}
		</p>
	</div>

	<a href="{{ page.next_article_url }}" class="article__button--red bottom-stick">Lesa meira</a>
</section>