---
layout: default
---

<header class="header--campaign">
	HUGUÐ
</header>

{% include campaign_hero.html %}

<section class="articles">
	<article class="article__container">
		<div class="article__image" style="background-image: url('/img/uploads/img_0534.jpg')">

		</div>
		<div class="article__text blue">
			<div class="article__text--centered">
				<h2>Ragnar</h2>
				<p></p>
			</div>

			<a href="/hugud/ragnar/" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
	</article>

	<article class="article__container">
		<div class="article__text beige">
			<div class="article__text--centered">
				<h2>Vala Kristín</h2>
				<p></p>
			</div>
			
			<a href="" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
		<div class="article__image" style="background-image: url('/img/uploads/img_0670.jpg')">

		</div>
	</article>
</section>

<aside class="help">
	<div class="help__container">
		<div class="help__text">
			<h3>HVERT SKAL LEITA?</h3>
			<p>Það er aldrei of snemmt eða seint að leita sér hjálpar, en því fyrr sem það er gert, því betra.</p>

			<a href="/" class="article__button--blue">Lesa meira</a>
		</div>
	</div>
</aside>

<section clsas="articles">
	<article class="article__container article__image--large" style="background-image: url('/img/uploads/img_0063.jpg')">
		<div class="article__name">
			<h2>Aron Már</h2>
		</div>

		<a href="" class="article__button--red bottom-stick">Lesa meira</a>
	</article>

	<article class="article__container">
		<div class="article__text red">
			<div class="article__text--centered">
				<h2>Tryggvi</h2>
				<p></p>
			</div>
			
			<a href="/hugud/tryggvi" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
		<div class="article__image" style="background-image: url('/img/uploads/img_0247.jpg')">

		</div>
	</article>

	<article class="article__container">
		<div class="article__image" style="background-image: url('/img/uploads/img_0534.jpg')">

		</div>
		<div class="article__text blue">
			<div class="article__text--centered">
				<h2>Ragnar</h2>
				<p></p>
			</div>

			<a href="/hugud/ragnar/" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
	</article>

</section>

<section class="main__box">
	<h3>Í NEYÐ?</h3>
	<span class="main__box--text">
		Ef þú stendur frammi fyrir alvarlegum vanda vill Hugrún benda þér á síma bráðamóttöku geðsviðs <em>543-2050</em> eða í síma neyðarlínunnar <em>112</em>.  Einnig er alltaf einhver sem hlustar hjá hjálparsíma Rauða krossins í <em>1717</em> eða í netspjalli á <a href="http://raudikrossinn.is">raudikrossinn.is</a>
	</span>
	<a href="" class="article__button--red bottom-stick">Lesa meira</a>
</section>