---
layout: default
---

<header class="header--campaign" style="background: white;">
	HUGUÐ
</header>

{% include campaign_hero.html %}

<section class="articles">
	<article class="article__container">
		<div class="article__text blue">
			<div class="article__text--centered">
				<h2>Ragnar</h2>
				<p>Lærði að taka ábyrgð á sjálfum þegar hann greindist með geðhvarfasýki.</p>
			</div>

			<a href="/hugud/ragnar/" class="article__button--more bottom-stick">Lesa meira</a>
		</div>

		<div class="article__image" style="background-image: url('/img/uploads/img_0534.jpg')">

		</div>
	</article>

	<article class="article__container">
		<div class="article__image" style="background-image: url('/img/uploads/img_0670.jpg')"></div>
		<div class="article__text beige">
			<div class="article__text--centered">
				<h2>Vala Kristín</h2>
				<p>Tókst á við átröskun með því að styrkja sambandið við veiku hliðina af sér.</p>
			</div>
			
			<a href="/hugud/vala-kristin/" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
	</article>
</section>

<aside class="help">
	<div class="help__container">
		<div class="help__text">
			<h3>HVERT SKAL LEITA?</h3>
			<p>Það er aldrei of snemmt eða seint að leita sér hjálpar, en því fyrr sem það er gert, því betra.</p>

			<a href="/" class="article__button--blue">Lesa meira</a>
		</div>
	</div>
</aside>

<section class="articles">
	<article class="article__container article__image--large" style="background-image: url('/img/uploads/img_0063.jpg')">
		<div class="overlay"></div>

		<div class="article__name--wrap">
			<div class="article__text--centered">
				<h2>Aron Már</h2>
				<p>Strákar þurfa að tala um tilfinningar sínar. Ný kynslóð af tilfinningaverum munu gera okkur að betra samfélagi.</p>
			</div>
		</div>

		<a href="/hugud/aron-mar/" class="article__button--more bottom-stick">Lesa meira</a>
	</article>

	<article class="article__container">
		<div class="article__text red">
			<div class="article__text--centered">
				<h2>Tryggvi</h2>
				<p>Stundum þarf maður bara að henda spilunum sem að maður fékk og byrja upp á nýtt.</p>
			</div>
			
			<a href="/hugud/tryggvi" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
		<div class="article__image" style="background-image: url('/img/uploads/img_0247.jpg')">

		</div>
	</article>

	<article class="article__container">
		<div class="article__image" style="background-image: url('/img/uploads/img_9824.jpg')">

		</div>
		<div class="article__text blue">
			<div class="article__text--centered">
				<h2>Hrefna Huld</h2>
				<p>Ræðir líf sitt með geðklofa, fordóma og mikilvægi þess að leita sér hjálpar.</p>
			</div>

			<a href="/hugud/hrefna-huld/" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
	</article>
</section>

<section class="main__box">
	<h3>Í NEYÐ?</h3>
	<span class="main__box--text">
		Hugrún vill benda þér á síma bráðamóttöku geðsviðs <em>543-2050</em> eða í síma neyðarlínunnar <em>112</em>.
		<br>
		Einnig er ávallt einhver til staðar í hjálparsíma <em>Rauða Krossins 1717</em>, sem og í nafnlausu netspjalli á <a href="http://raudikrossinn.is">raudikrossinn.is</a>.
	</span>
	<a href="/" class="article__button--red bottom-stick">Lesa meira</a>
</section>

<section clsas="articles">
	<article class="article__container article__image--large" style="background-image: url('/img/uploads/img_0267.jpg')">
		<div class="overlay"></div>

		<div class="article__name--wrap">
			<div class="article__text--centered">
				<h2>Sonja Björg</h2>
				<p>Segir þörf á aukinni umræðu um aðstandendur þeirra sem veikir eru á geði.</p>
			</div>
		</div>

		<a href="/hugud/sonja-bjorg" class="article__button--more bottom-stick">Lesa meira</a>
	</article>

	<article class="article__container">
		<div class="article__text beige">
			<div class="article__text--centered">
				<h2>Iðunn</h2>
				<p>Áleitar hugsanir leiddu til greiningar á þráhyggju- og árátturöskun en Iðunn segir miklar ranghugmyndir fylgja geðröskuninni.</p>
			</div>
			
			<a href="/hugud/idunn/" class="article__button--more bottom-stick">Lesa meira</a>
		</div>
		<div class="article__image" style="background-image: url('/img/uploads/img_0365.jpg')">

		</div>
	</article>
</section>
