---
layout: default
---

{% include top_bar.html %}

<section class="main__hero" style="background-image: url('{{ page.header_image }}')">
  <h2>Hugrún er geðfræðslufélag stofnað af nemendum í hjúkrunarfræði, læknisfræði og sálfræði við Háskóla Íslands.</h2>
  <a class="article__button--more bottom-stick" href="">Lesa meira</a>
</section>

<nav class="main__actions">
  <ul class="main__actions--container">
    <li>
      <a href="/styrkja">
        <img src="/img/money.svg" alt="Styrkja" />
        <div class="main__actions--text">Styrkja</div>
      </a>
    </li>
    <li>
      <a href="/boka">
        <img src="/img/bubble.svg" alt="Bóka fyrirlestur" />
        <div class="main__actions--text">Bóka fyrirlestur</div>
      </a>
    </li>
    <li>
      <a href="/medlimir">
        <img src="/img/link.svg" alt="Gerast meðlimur" />
        <div class="main__actions--text">Gerast meðlimur</div>
      </a>
    </li>
    <li>
      <a href="/hjalp">
        <img src="/img/life.svg" alt="Hvert get ég leitað?" />
        <div class="main__actions--text">Hvert get ég leitað?</div>
      </a>
    </li>
  </ul>
</nav>

<section class="main__box">
	<h3>Í NEYÐ?</h3>
	<span class="main__box--text">
		Ef þú stendur frammi fyrir alvarlegum vanda vill Hugrún benda þér á síma bráðamóttöku geðsviðs <em>543-2050</em> eða í síma neyðarlínunnar <em>112</em>.  Einnig er alltaf einhver sem hlustar hjá hjálparsíma Rauða krossins í <em>1717</em> eða í netspjalli á <a href="http://raudikrossinn.is">raudikrossinn.is</a>
	</span>
	<a href="" class="article__button--red bottom-stick">Lesa meira</a>
</section>

<section class="main__articles">
	<ul>
		<li><a href="">Kvíði</a></li>
		<li><a href="">Þunglyndi</a></li>
		<li><a href="">Áfallastreitu-<br>röskun</a></li>
		<li><a href="">Átraskanir</a></li>
		<li><a href="">Geðklofi</a></li>
		<li><a href="">Fíkni-<br>sjúkdómar</a></li>
		<li><a href="">Þráhyggja og<br>árátta</a></li>
		<li><a href="">Geðhvörf</a></li>
	</ul>
</section>

<section class="main__box main__box--beige">
	<h3>BÓKA<br>FYRIR-<br>LESTUR</h3>
	<span class="main__box--text">
		Bóka fyrirlestur í minn skóla, félagsmiðstöð, foreldra- eða nemendafélag.
	</span>
	<a href="" class="article__button--blue bottom-stick">Lesa meira</a>
</section>
