---
layout: default
---
{% include top_bar.html %}

<section class="main__hero" style="background-image: url('{{ page.header_image }}')">
  <div class="overlay"></div>

  <div class="main__quote_container">
  	<h2><span>Hugum að geðheilbrigði.<br>Verum #Huguð.</span></h2>
  </div>

  <a class="article__button--more bottom-stick" href="/hugud">Lesa meira</a>
</section>

<script>
	var coverPhotos = [
{% assign post_count = 0 %}
{% for post in site.posts %}
{% if post.cover_photo %}"{{ post.cover_photo }}",{% endif %}
{% endfor %}
	];

	$(".main__hero").css("background-image", "url('" + coverPhotos[Math.floor(Math.random()*coverPhotos.length)] + "')");
</script>

<nav class="main__actions">
  <ul class="main__actions--container">
    <li>
      <a href="/um-felagid#styrkja">
        <img src="/img/money.svg" alt="Styrkja" />
        <div class="main__actions--text">Styrkja</div>
      </a>
    </li>
    <li>
      <a href="/um-felagid#boka">
        <img src="/img/bubble.svg" alt="Bóka fyrirlestur" />
        <div class="main__actions--text">Bóka fyrirlestur</div>
      </a>
    </li>
    <li>
      <a href="/um-felagid#medlimir">
        <img src="/img/link.svg" alt="Gerast meðlimur" />
        <div class="main__actions--text">Gerast meðlimur</div>
      </a>
    </li>
    <li>
      <a href="/hvert-get-eg-leitad">
        <img src="/img/life.svg" alt="Hvert get ég leitað?" />
        <div class="main__actions--text">Hvert get ég leitað?</div>
      </a>
    </li>
  </ul>
</nav>

{% include sos_box.html %}

<section class="main__articles">
	<ul>
		<li><a href="/kvidi">Kvíði</a></li>
		<li><a href="/thunglyndi">Þunglyndi</a></li>
		<li><a href="/afallastreituroskun">Áfallastreitu-<br>röskun</a></li>
		<li><a href="/atraskanir">Átraskanir</a></li>
		<li><a href="/gedklofi">Geðklofi</a></li>
		<li><a href="/fiknisjukdomar">Fíkni-<br>sjúkdómar</a></li>
		<li><a href="/thrahyggja">Þráhyggja og<br>árátta</a></li>
		<li><a href="/gedhvorf">Geðhvörf</a></li>
	</ul>
</section>

<section class="main__box main__box--beige">
	<h3>BÓKA<br>FYRIR-<br>LESTUR</h3>
	<span class="main__box--text">
		Bóka fyrirlestur í minn skóla, félagsmiðstöð, foreldra- eða nemendafélag.
	</span>
	<a href="/um-felagid" class="article__button--blue bottom-stick">Lesa meira</a>
</section>

{% include campaign_hero.html %}
<!--
<div class="main__posts--heading">
	Greinar og fréttir
</div>

<section class="main__posts">
	<article class="main__post--article">
		<div class="main__post--image" style="background-image:url('/img/uploads/img_0033.jpg');" >
		</div>
		<span class="main__post--date">29. nóvember</span>
		<h4>Mengi kvíðans er svo stórt</h4>
		<p>Ingólfur Sigurðsson var efnilegur fótboltamaður og fór mjög ungur út til Hollands til þess að reyna fyrir sér í atvinnumennsku.</p>
		<a href="" class="main__post--read">Lesa</a>
	</article>

	<article class="main__post--article">
		<div class="main__post--image" style="background-image:url('/img/uploads/img_0033.jpg');" >
		</div>
		<span class="main__post--date">29. nóvember</span>
		<h4>Mengi kvíðans er svo stórt</h4>
		<p>Ingólfur Sigurðsson var efnilegur fótboltamaður og fór mjög ungur út til Hollands til þess að reyna fyrir sér í atvinnumennsku.</p>
		<a href="" class="main__post--read">Lesa</a>
	</article>

	<article class="main__post--article">
		<div class="main__post--image" style="background-image:url('/img/uploads/img_0033.jpg');" >
		</div>
		<span class="main__post--date">29. nóvember</span>
		<h4>Mengi kvíðans er svo stórt</h4>
		<p>Ingólfur Sigurðsson var efnilegur fótboltamaður og fór mjög ungur út til Hollands til þess að reyna fyrir sér í atvinnumennsku.</p>
		<a href="" class="main__post--read">Lesa</a>
	</article>
</section>
-->

<!--
<section class="hero hero__container--campaign main__constrain" style="background-image: url('/img/uploads/img_0057.jpg')">
	<h3 class="campaign__title">
		Titill á herferð
	</h3>

	<a href="{{ page.video_url }}" class="article__button--red bottom-stick">LESA MEIRA</a>
</section>
-->

<section class="main__box main__box--yellow">
	<h3>HVERT<br>SKAL-<br>LEITA?</h3>
	<span class="main__box--text">
		Það er aldrei of snemmt eða seint að leita sér hjálpar, en því fyrr sem það er gert, því betra.
	</span>
	<a href="" class="article__button--blue bottom-stick">Lesa meira</a>
</section>

{% include contact_footer.html %}