---
layout: default
---

{% include top_bar.html %}

<section class="main__hero" style="background-image: url('{{ page.header_image }}')">
  <h2>Hugrún er geðfræðslufélag stofnað af nemendum í hjúkrunarfræði, læknisfræði og sálfræði við Háskóla Íslands.</h2>
  <a class="article__button--more bottom-stick	" href="">Lesa meira</a>
</section>

<nav class="main__actions">
  <ul class="main__actions--container">
    <li>
      <a href="/styrkja">
        <img src="/img/money.svg" alt="Styrkja" />
        <div class="main__actions--text">Styrkja</div>
      </a>
    </li>
    <li>
      <a href="/boka">
        <img src="/img/bubble.svg" alt="Bóka fyrirlestur" />
        <div class="main__actions--text">Bóka fyrirlestur</div>
      </a>
    </li>
    <li>
      <a href="/medlimir">
        <img src="/img/link.svg" alt="Gerast meðlimur" />
        <div class="main__actions--text">Gerast meðlimur</div>
      </a>
    </li>
    <li>
      <a href="/hjalp">
        <img src="/img/life.svg" alt="Hvert get ég leitað?" />
        <div class="main__actions--text">Hvert get ég leitað?</div>
      </a>
    </li>
  </ul>
</nav>