---
layout: default
---

<div class="about__header">
  <h1>{{ title }}</h1>
</div>

<div class="about__wrapper">
  <section class="about__text">
    {{ page.about }}
  </section>
</div>

<div class="about__quote">
  <span>„Meðlimir Hugrúnar eiga það sameiginlegt að vera mjög annt um að upplýsa ungt fólk um mikilvægi geðheilbrigðis“</span>
</div>

<div class="about__wrapper">
  <section class="about__text">
    {{ page.join_us }}
  </section>
</div>

<div class="about__staff">
  <h2>Stjórn félagsins</h2>
  <ul>
    {% for staff in page.stjorn %}
      <li>
        <div class="staff__image" style="background-image: url('{{ staff.mynd }}');"></div>
        <h3 class="staff__name">{{ staff.nafn }}</h3>
        <span class="staff__role">{{ staff.titill }}</span>
        <span class="staff__caption">{{ staff.caption }}</span>
        <a href="mailto:{{ staff.email }}">{{ staff.email }}</a>
      </li> 
    {% endfor %}
  </ul>
</div>
<div class="about__staff">
  <h2>Ritstjórn</h2>
  <ul>
    {% for staff in page.ritstjorn %}
      <li>
        <div class="staff__image" style="background-image: url('{{ staff.mynd }}');"></div>
        <h3 class="staff__name">{{ staff.nafn }}</h3>
        <span class="staff__role">{{ staff.titill }}</span>
        <span class="staff__caption">{{ staff.caption }}</span>
        <a href="mailto:{{ staff.email }}">{{ staff.email }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<footer class="about__contact">
  <form method="POST" action="https://formspree.io/gedfraedsla@gedfraedsla.is">
    <input type="text" name="name" placeholder="NAFN">
    <input type="email" name="email" placeholder="TÖLVUPÓSTFANG">
    <input type="subject" name="subject" placeholder="VIÐFANGSEFNI">
    <textarea name="message" placeholder="SKILABOÐ"></textarea>
    <button type="submit">SENDA</button>
  </form>
</div>
